# Configurações do Azure Blob Storage
BLOB_CONNECTION_STRING="sua_string_de_conexao_aqui"
BLOB_CONTAINER_NAME="nome_do_seu_container"
BLOB_ACCOUNT_NAME="nome_da_sua_storage_account"

# Configurações do Azure SQL Database
DB_SERVER="seu_servidor.database.windows.net"
DB_NAME="nome_do_seu_banco"
DB_USER="seu_usuario_admin"
DB_PASS="sua_senha_segura"